@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}

.logo {
    max-width: 240px;
}

nav {
      margin: 12px;
}

.nav__row{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__img--wrapper {
    display: flex;
    width: 100%;
    max-width: 280px;
    justify-content: space-between;
    align-items: center;
}

.nav__bars {
    color: blueviolet;
    font-size: 24px;
}

.login__info {
    width: 100%;
    max-width: 148px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.nav__btn {
    padding: 12px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.btn__purple {
    background-color: blueviolet;
    color: white;
}

.account__icon {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background-color: blueviolet;
    border: none;
    font-size: 18px;
    text-align: center;
    color: white;
}

.skeleton__nav--btn {
    padding: 12px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: gainsboro;
    color: gainsboro;
}

.skeleton__nav--btn--round {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background-color: gainsboro;
    border: none;
    font-size: 18px;
    text-align: center;
    color: gainsboro;
}

.main__info {
    display: flex;
    justify-content: center;
}

