img {
  height: 100%;
  width: 100%;
}

.logo {
    max-width: 240px;
}

nav {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__info {
    width: 100%;
    max-width: 132px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main__info {
    display: flex;
    justify-content: center;
}

